<header class="container-fluid">
    <div class="header-top">
        <div class="row">
            <div class="col-md-2 text-white">
                <img class="img-fluid w-50  ml-2  mt-2 p-1" src="assets/images/logo.png" alt="">
                <span class="hello ml-4">Hello</span><br>
                <span class="your"><i class="fa fa-map-marker text-white pl-2"></i> <strong> Select your
                        address</strong> </span>
            </div>
            <div class="col-md-7">
                <div class="search ">
                    <select class="Select_state btn   bg-white ">
                        <option selected value="All" class="category">All</option>
                        <option value="All category">All Category</option>
                        <option value="Deals">Deals</option>
                        <option value="Alexa Skills">Alexa Skills</option>
                        <option value="Amazon Devices">Amazon Devices</option>
                        <option value="Amazon Fashion">Amazon Fashion</option>
                        <option value="Amazon Pantry">Amazon Pantry</option>
                        <option value="Chhattisgarh">Appliances</option>
                        <option value="App & Games">App & Games</option>
                        <option value="Baby">Baby</option>
                        <option value="Beauty">Beauty</option>
                        <option value="Big Bazaar">Big Bazaar</option>
                        <option value="Books">Books</option>
                        <option value="Car & Motorbike">Car & Motorbike</option>
                        <option value="Clothing & Accessories">Clothing & Accessories</option>
                    </select> <input type="text" class="mt-1"><i class="fa fa-search bg-warning"></i>
                </div>

            </div>
            <div class="col-md-3">
                <span class=" sign ml-4">Hello, Sign in</span><br>
                <span class="Account"><strong>Account & Lists</strong> </span>
                <span class="returns">Returns</span>
                <span class="order ml-4"><strong>& Orders</strong> </span>
                <img class="img-fluid ml-5 cart" src="assets/images/cart.png" alt=""><strong>cart</strong>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="row">
            <div class="col-md-9 mt-1 mr-0">
                <nav class="navbar m-0 p-0 navbar-expand-lg">
                    <a class="navbar-brand" href="#"><i class="fa fa-bars" aria-hidden="true"></i><strong> All</strong></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                        <ul class="navbar-nav mr-0">
                            <li class="nav-item active">
                                <a  href="#">Best Seller</a>
                            </li>
                            <li class="nav-item">
                                <a  href="#">Mobiles</a>
                            </li>
                            <li class="nav-item">
                                <a  href="#">Today's Deals</a>
                            </li>
                            <li class="nav-item">
                                <a  href="#">Fashion</a>
                            </li>
                            <li class="nav-item">
                                <a href="#">New Releases</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class=" dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Prime
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#">Electronics</a>
                            </li>
                            <li class="nav-item">
                                <a href="#">Customer Service</a>
                            </li>
                            <li class="nav-item">
                                <a href="#">Amzone Pay</a>
                            </li>
                            <li class="nav-item">
                                <a href="#">Home & Kitchen</a>
                            </li>
                            <li class="nav-item">
                                <a href="#">Compuers</a>
                            </li>
                            <li class="nav-item">
                                <a href="#">Books</a>
                            </li>
                            <li class="nav-item">
                                <a href="#">Toys & Games</a>
                            </li>
                            <li class="nav-item">
                                <a href="#">Sell</a>
                            </li>
                        </ul>
                </nav>
            </div>
            <div class="col-md-3 m-0">
                <img src="assets/images/game.jpg" alt="">
            </div>
        </div>
    </div>
</header>