<div class="back">Back to top</div>
<div class="footer">
    <div class="footer-top">
        <div class="row text-white">
            <div class="col-md-2"> </div>
            <div class="col-md-2">
                <h5>Get to Know Us</h5>
                <nav class="navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Carees</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Press Releases</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Amazon Cares</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Gift a Smile</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-2">
                <h5>Connect with Us</h5>
                <nav class="navbar">
                    <ul class="navbar-nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" href="#">FaceBook</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Twitter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Instagram</a>
                        </li> 
                    </ul>
                </nav>
            </div>
            <div class="col-md-2">
                <h5>Make Money with Us</h5>
                <nav class="navbar">
                    <ul class="navbar-nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sell on Amazon</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sell under Amazon Accelerator</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Amazon Global Selling</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Become an Affiliate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Fulfilment by Amazon</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Advertise Your Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Amazon Pay on Merchants</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-2">
                <h5>COVID-19 And Amazon</h5>
                <nav class="navbar">
                    <ul class="navbar-nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Your Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Returns Center</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">100% Purchase Protection</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Amazon App Download</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Help</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Amazon Assistant Download</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-2"></div>
        </div>

    </div>
    <div class="footer-bottom">
        <img src="assets/images/logo1.png" alt="">
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link" href="#">Autralia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Brazil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Canada</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">China</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">France</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Germany</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Italy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Japan</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Maxico</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Netherlands</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Singapore</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Spain</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Turkey</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">United Arab Emirates</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">United Kingdom</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">United</a>
              </li>
          </ul>
    </div>
</div>