<div class="container-fluid">
  <owl-carousel-o [options]="customOptions"> 
    <ng-template carouselSlide>
        <img src="assets/images/slider/slider1.jpg" alt="">
    </ng-template> 
    <ng-template carouselSlide>
        <img src="assets/images/slider/slider3.jpg" alt="">
    </ng-template>
    <ng-template carouselSlide>
        <img src="assets/images/slider/slider4.jpg" alt="">
    </ng-template>  
    <ng-template carouselSlide>
        <img src="assets/images/slider/slider5.jpg" alt="">
    </ng-template> 
    <ng-template carouselSlide>
        <img src="assets/images/slider/slider6.jpg" alt="">
    </ng-template> 
  </owl-carousel-o>
</div>

