.s_main4{
    background:white;
    width: 79.4%;
    text-align: center;
    margin-left: 10.3%;
    padding: 20px;
    margin-bottom:0%;
    position: absolute;
    top: 38.4%;
    z-index: 100;
}
.col-md-3 img{
    height: 265px;
}
.s_main5{
    background:white;
    width: 79.4%;
    text-align: center;
    margin-left: 10.3%;
    padding: 20px;
    margin-bottom:15px;
    cursor: pointer;
    color: rgb(107, 107, 107);
    font-size: 0.9em;
}
.s_main5 h4{
    text-align: left;
}
.s_main6{
    background:rgb(255, 255, 255);
    width: 79.4%;
    text-align: center;
    margin-left: 10.3%;
    padding: 20px;
    margin-bottom:15px;
    cursor: pointer;
    color: rgb(43, 42, 42);
    font-size: 0.9em;
}
.s_main7 img{
    margin-left: 10.5%;
}
.s_main6 .img-fluid{
    height: 130px;
    margin: 5px;
}
.col-md-3{
    padding:0 10px;
    
}
