<div class="s_main4 shadow-lg">
    <div class="row">
        <div class="col-md-3">
            <h4>Up to 40% off Smartphone</h4>
            <img src="assets/images/content/img1.jpg" alt="">
        </div>
        <div class="col-md-3">
            <h4>Pay your credit card bills</h4>
            <img src="assets/images/content/img2.jpg" alt="">

        </div>
        <div class="col-md-3">
            <h4>For efficient home working</h4>
            <img src="assets/images/content/img3.jpg" alt="">
        </div>
        <div class="col-md-3">
            <h4>Masks, Sanitizers & more</h4>
            <img src="assets/images/content/img4.jpg" alt="">
        </div>
    </div>
</div>
<div class="s_main5 shadow-sm">
    <h4>Best Sellers in Home & Kitchen</h4>
    <hr>
    <div class="row">
        <div class="col-md-2">
            <img src="assets/images/content/i1.jpg" alt="">
        </div>
        <div class="col-md-2">
            <img src="assets/images/content/i2.jpg" alt="">

        </div>
        <div class="col-md-2">
            <img src="assets/images/content/i3.jpg" alt="">
        </div>
        <div class="col-md-2">
            <img src="assets/images/content/i4.jpg" alt="">
        </div>
        <div class="col-md-2">
            <img src="assets/images/content/i5.jpg" alt="">
        </div>
        <div class="col-md-2">
            <img src="assets/images/content/i26.jpg" alt="">
        </div>
    </div>
</div>
<div class="s_main5 shadow-sm">
    <h4>Best Sellers in Beauty</h4>
    <hr>
    <div class="row">
        <div class="col-md-2">
            <img src="assets/images/content/i6.jpg" alt="">
        </div>
        <div class="col-md-2">
            <img src="assets/images/content/i7.jpg" alt="">

        </div>
        <div class="col-md-2">
            <img src="assets/images/content/i8.jpg" alt="">
        </div>
        <div class="col-md-2">
            <img src="assets/images/content/i9.jpg" alt="">
        </div>
        <div class="col-md-2">
            <img src="assets/images/content/i10.jpg" alt="">
        </div>
        <div class="col-md-2">
            <img src="assets/images/content/i27.jpg" alt="">
        </div>
    </div>
</div>
<div class="s_main5 shadow-sm">
    <h4>Best Sellers in Sports, Fitness & Outdoors</h4>
    <hr>
    <div class="row">
        <div class="col-md-2">
           <a  [routerLink]="['/details']" > <img src="assets/images/content/i11.jpg" alt=""></a>
        </div>
        <div class="col-md-2">
            <img src="assets/images/content/i12.jpg" alt="">

        </div>
        <div class="col-md-2">
            <img src="assets/images/content/i13.jpg" alt="">
        </div>
        <div class="col-md-2">
            <img src="assets/images/content/i14.jpg" alt="">
        </div>
        <div class="col-md-2">
            <img src="assets/images/content/i15.jpg" alt="">
        </div>
        <div class="col-md-2">
            <img src="assets/images/content/i28.jpg" alt="">
        </div>
    </div>
</div>
<div class="s_main5 shadow-sm">
    <h4>Up to 60% off | Products from Indian startups</h4>
    <hr>
    <div class="row">
        <div class="col-md-2">
            <img src="assets/images/content/i16.jpg" alt="">
        </div>
        <div class="col-md-2">
            <img src="assets/images/content/i17.jpg" alt="">

        </div>
        <div class="col-md-2">
            <img src="assets/images/content/i18.jpg" alt="">
        </div>
        <div class="col-md-2">
            <img src="assets/images/content/i20.jpg" alt="">
        </div>
        <div class="col-md-2">
            <img src="assets/images/content/i19.jpg" alt="">
        </div>
        <div class="col-md-2">
            <img src="assets/images/content/i29.jpg" alt="">
        </div>
    </div>
</div>
<div class="s_main5 shadow-sm">
    <h4>More everyday essentials to explore</h4>
    <hr>
    <div class="row">
        <div class="col-md-2">
            <img src="assets/images/content/i21.jpg" alt="">
        </div>
        <div class="col-md-2">
            <img src="assets/images/content/i22.jpg" alt="">

        </div>
        <div class="col-md-2">
            <img src="assets/images/content/i23.jpg" alt="">
        </div>
        <div class="col-md-2">
            <img src="assets/images/content/i24.jpg" alt="">
        </div>
        <div class="col-md-2">
            <img src="assets/images/content/i25.jpg" alt="">
        </div>
        <div class="col-md-2">
            <img src="assets/images/content/i30.jpg" alt="">
        </div>
    </div>
</div>
<div class="s_main6">
    <div class="row">
        <div class="col-md-3">
            <h4>Popular categories in fashion</h4>
            <div class="row">
                <div class="col-md-6">
                    <img class="img-fluid" src="assets/images/content/c1.jpg" alt="">
                    Men;s Innerwear
                    <img class="img-fluid" src="assets/images/content/c2.jpg" alt="">
                    Men's footwear
                </div>
                <div class="col-md-6">
                    <img class="img-fluid" src="assets/images/content/c3.jpg" alt="">
                    Women's sarees
                    <img class="img-fluid" src="assets/images/content/c4.jpg" alt="">
                    Watches
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h4>For your pets</h4>
            <div class="row">
                <div class="col-md-6">
                    <img class="img-fluid" src="assets/images/content/c5.jpg" alt="">
                    Dog supplies
                    <img class="img-fluid" src="assets/images/content/c6.jpg" alt="">
                    Aquatics supplies
                </div>
                <div class="col-md-6">
                    <img class="img-fluid" src="assets/images/content/c7.jpg" alt="">
                    Cat supplies
                    <img class="img-fluid" src="assets/images/content/c8.jpg" alt="">
                    Bird supplies
                </div>
            </div>
        </div>
        <div class="col-md-3">
             <h4>Beauty Products</h4>
            <div class="row">
                <div class="col-md-6">
                    <img class="img-fluid" src="assets/images/content/c9.jpg" alt="">
                    Skin care
                    <img class="img-fluid" src="assets/images/content/c10.jpg" alt="">
                    Makeup
                </div>
                <div class="col-md-6">
                    <img class="img-fluid" src="assets/images/content/c11.jpg" alt="">
                    Hair care
                    <img class="img-fluid" src="assets/images/content/c12.jpg" alt="">
                    Luxury Beauty
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h4>Birthday Store</h4>
            <div class="row">
                <div class="col-md-6">
                    <img class="img-fluid" src="assets/images/content/c13.jpg" alt="">
                    Gift for men
                    <img class="img-fluid" src="assets/images/content/c14.jpg" alt="">
                    Gift for boys
                </div>
                <div class="col-md-6">
                    <img class="img-fluid" src="assets/images/content/c15.jpg" alt="">
                    Gift for Women
                    <img class="img-fluid" src="assets/images/content/c16.jpg" alt="">
                    Gift for girls
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="s_main6 shadow-lg">
    <div></div>
    <div class="row">
            <div class="col-md-3">
                <h4>Up to 40% off Smartphone</h4>
                <img src="assets/images/content/img1.jpg" alt="">
            </div>
            <div class="col-md-3">
                <h4>Pay your credit card bills</h4>
                <img src="assets/images/content/img2.jpg" alt="">
                
            </div>
            <div class="col-md-3">
                <h4>For efficient home working</h4>
                <img src="assets/images/content/img3.jpg" alt="">
            </div>
            <div class="col-md-3">
                 <h4>Masks, Sanitizers & more</h4>
                <img src="assets/images/content/img4.jpg" alt="">
            </div> 
    </div>
</div>-->
<div class="s_main7 shadow-sm">
    <div class="row">
        <div class="col-md-12">
            <img src="assets/images/banner.jpg" alt="">
        </div>
    </div>
</div>